h2 {
    color: #2CDA9D;
    font-family: 'share tech mono', monospace;
    text-align: center;
    background-color: #272329;
    padding: 10px;
}

.descuentos img {
    width: 100%;
    height: 100%;
}

.artDescuento {
    display: flex;
    overflow-x: auto
}

article.articulo {
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    color: #2CDA9D;
    font-family: 'share tech mono', monospace;
    text-align: center;
    border-radius: 15px;
}

.mensaje {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    color: #2CDA9D;
    font-family: 'share tech mono', monospace;
    text-align: center;
}

article.articulo img {
    width: 180px;
}

section.artDescuento {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

section.novedades {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}