header {
    position: sticky;
    top: 0;
    z-index: 3;
}
.ofertas {
    text-align: center;
    background-color: #EF6F6C;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Share Tech Mono',monospace;
    font-size: 3em;
    color: #2CDA9D;
    margin: 0;
    padding: 0;
    position: relative;
    right: 70px;
    display: none;
}

.ofertas a:visited, .ofertas a:link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    display: block;
    padding: 5px;
    font-family: 'Share Tech Mono',monospace;

}

.navigator {
    width: 100%;
    display: flex;
    display: inline-grid;
    grid-template-columns: 1fr 4fr 4fr;
    background-color: #3E8989;
    height: 90px;
}


.navigator ul{
    list-style: none;
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    left: 15px;
    bottom: 5px;
}

.logo img {
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    left: 10px;
}

    
.burger img {
    width: 80px;
    height: 80px;
    margin-top: 6px;
} 

nav {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;

}

nav ul li img {
    width: 35px;
    height: 35px;
    
}

nav ul li{
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr;
    
}


h1 {
    font-family: 'Share Tech Mono',monospace;
    font-size: 3em;
    color: #2CDA9D;
    margin: 0;
    padding: 0;
    position: relative;
    right: 70px;
    display: none;
}



h4 {
font-family: 'Share Tech Mono',monospace;
font-size: 1.5em;
color: #2CDA9D;
margin: 0;
padding: 0; 

}


.titulo {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.titulo img {
width: 30px;
height: 30px; 
position: relative;
top: 5px;
}

.titulo2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
bottom: 5px;
}


footer {
margin-top: 100px;
}

footer ul {
padding: 0;
}

.footer1{
border-top: 2px solid #3E8989;
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #1A181B;
padding: 5px;
border-bottom: 2px solid #3E8989;
}

footer a {
color: #2CDA9D;
font-size: 1.1em;
display: block;
padding: 5px;
font-family: 'Share Tech Mono',monospace;
text-decoration: none;
}

footer li {
list-style: none;
}

.footer2 {
margin-top: 2px;
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #1A181B;
padding: 5px;

}

.footer2 ul {
display: grid;
grid-template-columns: 1fr 1fr;
}


.footer2 img {
width: 50px;
height: 50px;
margin: 10px;
}

.footer2 li {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.footer2 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer2 ul {
position: relative;
top: 5px;
}

.footer3 {
width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #1A181B;
color: #2CDA9D;
margin-top: 2px;
font-family: 'Share Tech Mono',monospace;
font-size: 1.1em;
font-weight: bold;
border-top: 2px solid #3E8989;
border-bottom: 2px solid #3E8989;
}

.footer3 h4 {
    padding-top: 40px;
}

.footer3 p {
display:block;
margin: 10%;
text-align: center;
}


.footer3 input {
width: 80%;
height: 25px;
font-size: 1.1em;
font-family: 'Share Tech Mono',monospace;
background-color: #272329;
color: #2CDA9D;
border-radius: 15px;
margin: 10px;

}

.footer3 input::placeholder {
color: #2CDA9D;
font-family: 'Share Tech Mono',monospace;
position: relative;
left: 10px;

}

.footer3 button {
margin: 10px;
background-color: #272329;
color: #2CDA9D;
border-radius: 15px;

}

.footer3 img {
width: 25px;
height: 25px;
position: relative;
top: 5px;
}

.titulo3 {
font-size: 1.2em;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
margin: 5px;
}


.titulo3 img {
margin-left: 10px;

}

main a:visited, main a:link {
color: #2CDA9D;
text-decoration: none;
}

body {
background-color: #1A181B ;
overflow-y: scroll;
overflow-x: auto;
}




@media (min-width:435px) {


    
    .ofertas a {
        font-size: 1.4em;
    
    }
    

    .logo img {
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 5px;
        margin-left: 0px;
    }
    
    .barraBusqueda input {
        width: 100%;
        height: 60px;
        font-size: 1.1em;
        font-family: 'Share Tech Mono',monospace;
        background-color: #272329;
        color: #2CDA9D;
        border-color: #3E8989;
        border-radius: 15px;
    
    }
    
    .barraBusqueda input::placeholder {
        color: #2CDA9D;
        font-size: 1.4em;
        font-family: 'Share Tech Mono',monospace;
        position: relative;
        left: 20px;
    
    }
    
    .barraBusqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 75px;
        left: 22%;
        width: 60%;
    }
    
    .barraBusqueda button {
        border: none;
        box-sizing: border-box;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 5px;
    
    }
    
    .barraBusqueda button img {
        width: 45px;
        height: 45px;
        margin: 5px;
    }

    .mensaje p{
        display: none;
    }
    

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .footer img {
        width: 50px;
        height: 50px;
    }
    
    .footer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2CDA9D;
        margin: 5px;
        font-family: 'Share Tech Mono',monospace;
        font-size: 1.8em;
        font-weight: bold;
        border-radius: 15px;
    }

    .footer1 li {
        margin: 5px;
        position: relative;
        bottom: 20px;
        right: 20px;

    }
    
    .titulo {
        display: flex;
        flex-direction: row;
        font-size: 1.4em;
        font-weight: bold;
        margin: 5px;
        position: relative;
        bottom: 20px;
    }

    .titulo img {
        width: 50px;
        height: 50px;
        margin: 20px;
        
    }
    
    .footer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1A181B;
        color: #2CDA9D;
        margin: 5px;
        font-family: 'Share Tech Mono',monospace;
        font-size: 1.4em;
        font-weight: bold;
        border-radius: 15px;
        margin-left: 0px;
        margin-right: 0px;
    
    }

    .titulo2 {
        position: relative;
        top: 20px;
        font-size: 1.5em;
        font-weight: bold;
        margin: 5px;
    }

    .titulo2 img {
        width: 40px;
        height: 40px;

    }

    .footer2 li {
        margin: 20px;
        margin-right: 100px;
        margin-left: 50px;
        font-size: 1.5em;
    }

    .footer3 {
        font-weight: bold;
        font-size: 1.5em;
        border-radius: 15px;
    }

    .titulo3 {
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        position: relative;
        bottom: 20px;
    }

    .footer3 p {
        position: relative;
        bottom: 20px;
    }

    .titulo3 img {
        position: relative;
        bottom: 10px;
        margin-left: 20px;
    }

}


@media (max-width: 1524px) {


    .navigator {
        height: 60px
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .burger img {
        width: 40px;
        height: 40px;
        margin-top: 6px;
    }
    
    h1 {
        font-family: 'Share Tech Mono',monospace;
        font-size: 2em;
        color: #2CDA9D;
        margin: 0;
        padding: 0;
        position: static;
        display: none;
    }
    
    
    .logo img {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 5px;
        margin-left: 0px;
    }
    
    .barraBusqueda input {
        width: 100%;
        height: 35px;
        font-size: 1.4em;
        font-family: 'Share Tech Mono',monospace;
        background-color: #272329;
        color: #2CDA9D;
        border-color: #3E8989;
        border-radius: 0px;
    
    }
    
    .barraBusqueda input::placeholder {
        color: #2CDA9D;
        font-size: 1.1em;
        font-family: 'Share Tech Mono',monospace;
        position: relative;
        left: 10px;
    
    }
    
    .barraBusqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        position: relative;
        bottom: 0px;
        left: 0;
        width: 100%;
    }
    
    .barraBusqueda button {
        border: none;
        box-sizing: border-box;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 5px;
    
    }
    
    .barraBusqueda button img {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
}